body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-bottom: 150px;
    height: 500px;
}
.display-flex{
    display: flex;
}
.bg-exp-img{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dream-big-img{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left:2%;
}
.half-width img{
    width: 100%;
}
.half-width a{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(lightsalmon,tomato);
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
p{
    color: dimgray;
}
.color-orange{
    color: orange;
}
h2{
    font-size: 40px;
}
.experiences-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-section .half-width{
    box-shadow: 10px 10px 40px gray;
}
#fullStack{
    padding-top: 0px;
    border-left: 7px solid;
    border-image: linear-gradient(orange,lightsalmon);
    border-image-slice: 1;
}
#BabyDev{
    padding-top: 0px;
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    padding-bottom: 10px;
}